/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.switchery {
  height: 20px!important;
  width: 35px!important;
}

.switchery > small {
  height: 20px!important;
  width: 20px!important;
}
