<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @area.name %></h2>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <rooms :initial_rooms="<%= @rooms.to_json(include: :devices) %>"></rooms>
</div>
