<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Devices</h2>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
</div>

<%= render 'form', device: @device %>
