//= require steps/jquery.steps.css
//= require summernote/summernote-bs3.css
//= require summernote/summernote.css
//= require dropzone/basic.css
//= require dropzone/dropzone.css
//= require colorpicker/css/bootstrap-colorpicker.min.css
//= require cropper/cropper.min.css
//= require datapicker/datepicker3.css
//= require ionRangeSlider/ion.rangeSlider.css
//= require ionRangeSlider/ion.rangeSlider.skinFlat.css
//= require jasny/jasny-bootstrap.min.css
//= require nouslider/jquery.nouislider.css
//= require switchery/switchery.css
//= require chosen/bootstrap-chosen.css
//= require daterangepicker/daterangepicker-bs3.css
//= require clockpicker/clockpicker.css
//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
//= require select2/select2.min.css
//= require touchspin/jquery.bootstrap-touchspin.min.css
//= require bootstrap-markdown/bootstrap-markdown.min.css
//= require bootstrap-tagsinput/bootstrap-tagsinput.css
//= require dualListbox/bootstrap-duallistbox.min.css
//= require codemirror/ambiance.css
//= require codemirror/codemirror.css


/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: image-url('green.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: image-url('green@2x.png');
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
